.div {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.input {
    width: 100%;
    padding: 1rem;
    background-color: #111827;
    color: white;
    font-size: 1.125rem;
    border-radius: 0.5rem;
    border: 1px solid #374151;
    padding-right: 4rem;

    transition: all 0.2s ease-in-out;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #6366f1;
    border-color: #6366f1;
}

.button {
    position: absolute;
    right: 0.5rem;
    top: 50%;

    transform: translateY(-50%);

    padding: 0.5rem;
    color: #9ca3af;
    border-radius: 0.5rem;

    background: none;
    border: none;
    cursor: pointer;

    transition: color 0.2s ease-in-out;
}

.button:hover {
    color: #818cf8;
}
