.generateButton {
    width: 100%;
    font-size: 1.125rem;
    padding: 0.75rem 1.5rem;
    background-color: #001aff;
    border-radius: 0.5rem;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    margin-top: 10%;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    font-family: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 600;
    overflow: hidden;
    background: #001aff;
    color: ghostwhite;
}

.generateButton span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.generateButton:hover span {
    color: #ffffff;
}

.generateButton::before,
.generateButton::after {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 0;
}

.generateButton::before {
    content: "";
    background: #818cf8;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.generateButton:hover::before {
    transform: translate3d(100%, 0, 0);
}

.generateButton:hover {
    background-color: #001aff;
}

.generateButton:focus {
    outline: none;
    box-shadow: 0 0 0 4px #001aff;
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }
}

.animated {
    animation: pulse 2s infinite ease-in-out;
}
