html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.appContainer {
    background-color: #0f172a;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
